@use '../../../assets/shared/funciones';
@import '../../../assets/shared/colores';

:host ::ng-deep {
    .Item {
        width: 95%
    }
}

.new-address {
    background-color: #f8f9fa;
    @include funciones.body-cont;

    .form-container {
        @include funciones.form(50% 50%);

        span {
            margin: 15px auto;

        }
    }

    .button {
        display: flex;
        justify-content: space-around;
        gap: 20px;
        margin-bottom: 20px;
        .color-button-no{
            background-color: red;
        }
    }
}