<app-header></app-header>
<div class="new-address">
    <h1> Editar direccion </h1>
    <form [formGroup]="formGroup" (ngSubmit)="crear()">
        <div class="form-container">
            <div clas="field">
                <span class="p-float-label ">
                    <p-dropdown styleClass="Item" formControlName="country" [options]="cities"
                        optionLabel="name"></p-dropdown>
                    <label htmlFor="country">Pais</label>
                </span>
            </div>
            <div clas="field">
                <span class="p-float-label ">
                    <p-dropdown styleClass="Item" formControlName="division" [options]="cities"
                        optionLabel="name"></p-dropdown>
                    <label htmlFor="division">División geografica</label>
                </span>
            </div>
            <div clas="field">
                <span class="p-float-label">
                    <input pInputText id="address" formControlName="address" autocomplete="off" />
                    <label htmlFor="address">Direción</label>
                </span>
            </div>
            <div clas="field">
                <span class="p-float-label">
                    <input pInputText id="residential" formControlName="residential" autocomplete="off" />
                    <label htmlFor="residential">Conjunto</label>
                </span>
            </div>
            <div clas="field">
                <span class="p-float-label">
                    <input pInputText id="building" formControlName="building" autocomplete="off" />
                    <label htmlFor="building">Edificio</label>
                </span>
            </div>
            <div clas="field">
                <span class="p-float-label">
                    <input pInputText id="tower" formControlName="tower" autocomplete="off" />
                    <label htmlFor="tower">Torre</label>
                </span>
            </div>
            <div clas="field">
                <span class="p-float-label">
                    <input pInputText id="integer" pKeyFilter="int" formControlName="floor" autocomplete="off" />
                    <label htmlFor="floor">Piso</label>
                </span>
            </div>
            <div clas="field">
                <span class="p-float-label">
                    <input pInputText id="apartment" formControlName="apartment" autocomplete="off" />
                    <label htmlFor="apartment">Apartamento</label>
                </span>
            </div>
            <div clas="field">
                <span class="p-float-label">
                    <input pInputText id="georeference" formControlName="georeference" autocomplete="off" />
                    <label htmlFor="georeference">Coordenadas</label>
                </span>
            </div>
            <div clas="field">
                <span class="p-float-label">
                    <p-multiSelect [options]="cities" formControlName="products" optionLabel="name"
                        styleClass="Item"></p-multiSelect>
                    <label htmlFor="products">Productos</label>
                </span>
            </div>
            <div clas="field">
                <span class="p-float-label">
                    <p-multiSelect [options]="cities" formControlName="services" optionLabel="name"
                        styleClass="Item"></p-multiSelect>
                    <label htmlFor="services">Servicios</label>
                </span>
            </div>

        </div>
        <div class="button">
            <div class="card flex justify-content-center">
                <p-toast position="top-right" key="topright"></p-toast>
                <p-confirmDialog #cd [style]="{ width: '50vw' }">
                    <ng-template pTemplate="header">
                        <h3>Confirmación</h3>
                    </ng-template>
                    <ng-template pTemplate="icon">
                    </ng-template>
                    <ng-template pTemplate="message">
                        <p>¿Esta seguro de añadir esta dirección?</p>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <button type="button" pButton icon="pi pi-times" label="Cancelar" class="color-button-no"
                            (click)="cd.reject()"></button>
                        <button type="button" pButton icon="pi pi-check" label="Confirmar" class="color-button-yes"
                            (click)="cd.accept()"></button>
                    </ng-template>
                </p-confirmDialog>
                <p-button (click)="confirm1()" type="submit" styleClass="p-button-success center">Editar</p-button>
            </div>
            <p-button type="submit" styleClass="p-button-success center" (onClick)="return()">Volver</p-button>
        </div>
    </form>

</div>
<app-footer></app-footer>
