.p-toolbar-group-start{
    img{
        margin: 0 20px;
    }
}
.detail{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 20px;
    label{
        margin: 5px 5px;
        ol{
            list-style-type: none;
        }
    }
}
.map{
    padding: 0 10px;
    height: 300px;
}