<p-toolbar styleClass="Header">
    <div class="p-toolbar-group-start">
        {{name}}
    </div>
    <div class="p-toolbar-group-end">
        <div class="card flex justify-content-center">
            <p-button (click)="showDialog()" icon="pi pi-eye" styleClass="p-button-success mr-2"></p-button>
            <p-dialog header="Detalles de la dirección" [(visible)]="visible" [style]="{width: '50vw'}">
                <div class="detail">
                    <label>Pais: {{name}} </label>
                    <label>División geografica: {{name}} </label>
                    <label>Dirección: {{name}} </label>
                    <label>Conjunto: {{name}} </label>
                    <label>Edificio: {{name}} </label>
                    <label>Pais: {{name}} </label>
                    <label>Pais: {{name}} </label>
                    <label>Pais: {{name}} </label>
                </div>
                <div class="map">
                    <app-map [lat]="4" [lng]="-74" [draggableNew]="false" [heightNew]="'300px'"></app-map>
                </div>
            </p-dialog>
        </div>
        <p-button icon="pi pi-pencil" label="Editar" class="mr-2" (onClick)="edit()"></p-button>
        <div class="card flex justify-content-center">
            <p-toast position="top-right" key="topright"></p-toast>
            <p-confirmDialog #cd [style]="{ width: '50vw' }">
                <ng-template pTemplate="header">
                    <h3>Confirmación</h3>
                </ng-template>
                <ng-template pTemplate="icon">
                </ng-template>
                <ng-template pTemplate="message">
                    <p>¿Esta seguro de añadir esta dirección?</p>
                </ng-template>
                <ng-template pTemplate="footer">
                    <button type="button" pButton icon="pi pi-times" label="Cancelar" class="color-button-no"
                        (click)="cd.reject()"></button>
                    <button type="button" pButton icon="pi pi-check" label="Confirmar" class="color-button-yes"
                        (click)="cd.accept()"></button>
                </ng-template>
            </p-confirmDialog>
            <p-button icon="pi pi-delete-left" label="Eliminar" class="mr-2" (onClick)="confirm1()" styleClass="p-button-danger"></p-button>
        </div>
    </div>
</p-toolbar>