<div class="body-login">
    <div class="login">
        <div class="login-contenido">
            <h1>Login</h1>
            <form [formGroup]="formGroup" (ngSubmit)="ingresar()">
                <span class="p-float-label">
                    <p-inputNumber autocomplete="off" inputId="integeronly" formControlName="user" [useGrouping]="false"
                        aria-describedby="username-help"></p-inputNumber>
                    <label for="user">Usuario</label>
                </span>
                <div class="flex justify-content-center gap-2">
                    <small class="p-error" *ngIf="formGroup.get('user')?.hasError('required')">
                        {{ errorMessages.user.required }}
                    </small>
                </div>
                <span class="p-float-label">
                    <p-password formControlName="password" autocomplete="off" [feedback]="false"></p-password>
                    <label for="password">Contraseña</label>
                </span>
                <div class="flex justify-content-center gap-2">
                    <small class="p-error" *ngIf="formGroup.get('password')?.hasError('required')">
                        {{ errorMessages.password.required }}
                    </small>
                    <small class="p-error" *ngIf="formGroup.get('password')?.hasError('minlength')">
                        {{ errorMessages.password.minlength }}
                    </small>
                    <small class="p-error" *ngIf="formGroup.get('password')?.hasError('maxlength')">
                        {{ errorMessages.password.maxlength }}
                    </small>
                </div>
                <p-button type="submit" [disabled]="formGroup.invalid" styleClass="p-button-success">Ingresar</p-button>
                <p-messages [(value)]="messages" [enableService]="true" [showTransitionOptions]="'500ms'"
                    [hideTransitionOptions]="'500ms'"></p-messages>
            </form>
        </div>
    </div>
</div>