<app-header></app-header>
<div class="body-load">
    <div class="load">
        <div class="load-contenido">
            <h1>Carga Masiva</h1>
            <div class="card flex justify-content-center">
                <p-toast position="top-right" key="topright"></p-toast>
                <p-fileUpload mode="basic" chooseLabel="Subir archivo" [auto]="true" name="demo[]" url="" accept=".txt" (onUpload)="onBasicUploadAuto($event)"></p-fileUpload>
            </div>
        </div>
        <p-button type="submit" styleClass="p-button-success" (onClick)="return()">Volver</p-button>
    </div>
</div>
<app-footer></app-footer>