<app-header></app-header>
<div class="home">
    <p-toolbar styleClass="Header">
        <div class="p-toolbar-group-start">
            
        </div>
        <div class="p-toolbar-group-end">
            <p-button icon="pi pi-plus" label="Nueva dirección" class="mr-2" styleClass="p-button-success" (onClick)="new()"></p-button>
            <p-button icon="pi pi-file" label="Carga masiva" styleClass="p-button-success mr-2" type="button" (onClick)="load()"></p-button>
        </div>
    </p-toolbar>
    <ul>
        <li *ngFor="let name of names">
            <app-item-address [name]="name"></app-item-address>
        </li>
    </ul>
</div>
<app-footer></app-footer>
