
@import '../../../assets/shared/colores';

.home{
    width: 80%;
    margin: 0 auto;
    ul {
        list-style: none;
        padding: 0;
        margin: 10px 0px;
        li{
            margin: 20px;
        }
    }
}