<form [formGroup]="formGroup" (ngSubmit)="crear()">
    <div class="form-container">
        <div clas="field">
            <span class="p-float-label ">
                <p-dropdown styleClass="Item" formControlName="country" [options]="country"
                    optionLabel="nameCountry" [(ngModel)]="this.formGroup.value.country"></p-dropdown>
                <label htmlFor="country">Pais</label>
            </span>
        </div>
        <div clas="field">
            <span class="p-float-label ">
                <p-dropdown styleClass="Item" formControlName="division" [options]="geoDiv"
                    optionLabel="nameGeographicalDivision"></p-dropdown>
                <label htmlFor="division">División geografica</label>
            </span>
        </div>
        <div clas="field">
            <span class="p-float-label">
                <input pInputText id="address" formControlName="address" autocomplete="off" styleClass="Item" />
                <label htmlFor="address">Direción</label>
            </span>
        </div>
        <div clas="field">
            <span class="p-float-label">
                <input pInputText id="residential" formControlName="residential" autocomplete="off" />
                <label htmlFor="residential">Conjunto</label>
            </span>
        </div>
        <div clas="field">
            <span class="p-float-label">
                <input pInputText id="building" formControlName="building" autocomplete="off" />
                <label htmlFor="building">Edificio</label>
            </span>
        </div>
        <div clas="field">
            <span class="p-float-label">
                <input pInputText id="tower" formControlName="tower" autocomplete="off" />
                <label htmlFor="tower">Torre</label>
            </span>
        </div>
        <div clas="field">
            <span class="p-float-label">
                <input pInputText id="integer" pKeyFilter="int" formControlName="floor" autocomplete="off" />
                <label htmlFor="floor">Piso</label>
            </span>
        </div>
        <div clas="field">
            <span class="p-float-label">
                <input pInputText id="apartment" formControlName="apartment" autocomplete="off" />
                <label htmlFor="apartment">Apartamento</label>
            </span>
        </div>
        <div clas="field">
            <span class="p-float-label">
                <p-multiSelect [options]="products" formControlName="products" optionLabel="nameProduct_Service"
                    styleClass="Item"></p-multiSelect>
                <label htmlFor="products">Productos</label>
            </span>
        </div>
        <div clas="field">
            <span class="p-float-label">
                <p-multiSelect [options]="services" formControlName="services" optionLabel="nameProduct_Service"
                    styleClass="Item"></p-multiSelect>
                <label htmlFor="services">Servicios</label>
            </span>
        </div>
    </div>
    <div class="map">
        <app-map [lat]="4" [lng]="-74" [draggableNew]="true" [heightNew]="'500px'"></app-map>
    </div>
    <div class="button">
        <div class="card flex justify-content-center">
            <p-toast position="top-right" key="topright"></p-toast>
            <p-confirmDialog #cd [style]="{ width: '50vw' }">
                <ng-template pTemplate="header">
                    <h3>Confirmación</h3>
                </ng-template>
                <ng-template pTemplate="icon">
                </ng-template>
                <ng-template pTemplate="message">
                    <p>¿Esta seguro de {{type}} esta dirección?</p>
                </ng-template>
                <ng-template pTemplate="footer">
                    <button type="button" pButton icon="pi pi-times" label="Cancelar" class="color-button-no"
                        (click)="cd.reject()"></button>
                    <button type="button" pButton icon="pi pi-check" label="Confirmar" class="color-button-yes"
                        (click)="cd.accept()"></button>
                </ng-template>
            </p-confirmDialog>
            <p-button (click)="confirm1()" type="submit" styleClass="p-button-success center">{{type}}</p-button>
        </div>
        <p-button type="submit" styleClass="p-button-success center" (onClick)="return()">Volver</p-button>
    </div>
</form>
